<app-header></app-header>


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutGap.xs="20px" fxFlexFill>
    <div class="new-form">
      <mat-card class="form-card">
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label>Name</label><span aria-required="true" class="required"> * </span><br><br>
                <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
                  <mat-icon matPrefix>person</mat-icon>
                  <input formControlName="name" matInput placeholder="Enter your name" aria-required="true" type="text">
                  <mat-error *ngIf="!registerForm.hasError('name', 'required')">Name is required</mat-error>
                </mat-form-field>
              </div>
              
          <div class="form-group">
            <label>Email Address</label><span aria-required="true" class="required"> * </span><br><br>
            <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
              <mat-icon matPrefix>email</mat-icon>
              <input formControlName="email" matInput placeholder="Enter your email" aria-required="true" type="text">
              <mat-error *ngIf="!registerForm.hasError('email', 'required')">Email is required</mat-error>
            </mat-form-field>
     
          </div>

          <div class="form-group">
            <label>Phone Number</label><span aria-required="true" class="required"> * </span><br><br>
            <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
              <mat-icon matPrefix>phone</mat-icon>
              <input formControlName="phone_number" matInput placeholder="Enter your phone_number" aria-required="true" type="number">
              <mat-error *ngIf="!registerForm.hasError('phone_number', 'required')">Phone number is required</mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-group">
            <label>Password</label><span aria-required="true" class="required"> * </span><br><br>
            <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
              <mat-icon matPrefix>lock</mat-icon>
              <input formControlName="password" matInput placeholder="Enter your password" aria-required="true" type="password">
              <mat-error *ngIf="!registerForm.hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field>
          </div>
  
          <button class="form-button" mat-raised-button color="primary" (click)="register()">Sign Up</button>
  
        </form>
        <div fxLayout="row" style="margin-bottom: 10px;">
          <a href="/login" style="text-decoration: none;"> Have an Account?<span> Sign In</span></a>
        </div>
      </mat-card>
    </div>
  </div>
  