/* landing-page.component.scss */

/* General styles for larger screens */
.section {
    padding: 60px 0;
    background-color: black;
    color: white;
    height: 100vh;

    .content {
        max-width: 800px;
        margin-top: 170px;
        margin-left: 200px;

        h1, h2 {
            font-size: 3em;
            color: white;
            margin-bottom: 20px;
            font-weight: bolder;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }
}

.section2 {
    margin-top: 50px;
    height: 70vh;

    h1, h2 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1em;
        margin-bottom: 30px;
    }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .section {
        padding: 40px 0;
        text-align: center; /* Center align content */

        .content {
            margin: auto; /* Center align content */
            max-width: 100%; /* Adjust width for smaller screens */

            h1, h2 {
                font-size: 2em;
                color: white;
                margin-bottom: 15px;
            }

            p {
                font-size: 1em;
                margin-bottom: 20px;
                line-height: 40px;
            }
        }
    }

    .section2 {
        text-align: center; /* Center align content */

        h1, h2 {
            font-size: 2em;
            margin-bottom: 15px;
        }

        p {
            font-size: 1em;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        .phone-img {
            .img-fluid,
            .smaller-image {
                width: 100%; /* Adjust width for smaller screens */
            }

            .smaller-image {
                top: 0; /* Adjust the top position for smaller screens */
                left: 0; /* Adjust the left position for smaller screens */
            }
        }
    }
}

/* Add a new media query for screens less than 1520px */
@media screen and (max-width: 1520px) {
    .smaller-image {
        display: none; /* Hide the smaller image */
    }
}

/* Styles for the toolbar */
mat-toolbar.custom-toolbar {
    background-color: #28282B;
    color: #fff;
    height: 90px;
}

.custom-label {
    margin-right: 20px;
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove the underline */
}

.custom-label:hover {
    text-decoration: none; /* Remove the underline on hover */
}

.phone-img {
    position: relative;

    .img-fluid {
        max-width: 100%; /* Ensure the image doesn't exceed its container */
        height: auto;
    }

    .smaller-image {
        position: absolute;
        top: 170px;
        left: 50px;
        z-index: 1;
        max-width: 80%; /* Adjust max-width for smaller screens */
        height: auto;
    }
}

/* Button styling */
.get-started {
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #fff;
        color: #3498db;
    }
}

/* Card styles */
mat-card.example-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
        font-size: xx-large;
        margin-bottom: 10px;
    }

    .p2 {
        font-size: 1em;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.title {
    font-size: xx-large;
    margin-bottom: 10px;
}
