<!-- landing-page.component.html -->
<div class="container">
    
<div class="landing-container">
    <section id="home" class="section">
      <div class="content">
        <h1>Welcome to FinTechX</h1>
        <p>Empowering your financial journey with cutting-edge technology.</p>
        <a routerLink="/register" mat-raised-button color="primary">Get Started</a>
      </div>
    </section>
  
    <section id="about-us" class="section">
      <div class="content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet lorem et nunc feugiat auctor ac at ligula.</p>
      </div>
    </section>
  
    <section id="contacts" class="section">
      <div class="content">
        <h2>Contact Us</h2>
        <p>Email: info@fintechx.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </section>
  </div>
  

</div>

  