/* landing-page.component.scss */
// .landing-container {
//     max-width: 1200px;
//     margin: auto;
//     padding: 20px;
// }



.section {
    // margin-top: 70px;
    padding: 60px 0;
    background-color: black;
    color: white;
    height: 100vh;
    // text-align: center;

    .content {
        max-width: 800px;
        margin-top: 170px;
        margin-left: 200px;
        // margin: auto;

        h1, h2 {
            font-size: 3em;
            color: white;
            margin-bottom: 20px;
            font-weight: bolder;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }
}

.section2 {
    margin-top: 50px;
        // margin: auto;

        h1, h2 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1em;
            margin-bottom: 30px;
        }
    
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
    .section {
        padding: 40px 0;
    }

    .content {
        h1, h2 {
            font-size: 2em;
            color: white;
            margin-bottom: 15px;
        }

        p {
            font-size: 1em;
            margin-bottom: 20px;
            line-height: 40px;
        }
    }
}

/* Add button styling */
a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff; /* Use a contrasting color for the button border */
    color: #fff;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #fff;
        color: #3498db;
    }
}


mat-toolbar.custom-toolbar {
    background-color: #28282B; /* Use the color code for black */
    color: #fff; /* Set the text color to white or another contrasting color */
    height: 120px
  }

  .phone-img {
    position: relative; // Set position to relative

    .img-fluid {
      width: 100%;
      height: auto;
    }

    .smaller-image {
      position: absolute;
      top: 170px; // Adjust the top position as needed
      left: 50px; // Adjust the left position as needed
      z-index: 1; // Ensure it's above the larger image
      width: 400px; // Set a suitable width
      height: auto;
    }
  }
/* Add button styling */
a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 30px 30px;
    background-color: #fff; /* Set background color to white */
    color: #000; /* Set text color to black */
    border: 2px solid #000; /* Set border color to black */
    border-radius: 10px; /* Set border radius to create rounded corners */
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: #000; /* Change background color on hover */
      color: #fff; /* Change text color on hover */
    }
  }

  p {
    line-height: 1.5; /* Adjust the value to achieve the desired spacing */
    font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the desired font name */
  }
  .svg-image {
    position: absolute;
    // Adjust the positioning as needed
    top: 50px;
    left: 50px;
    width: 50px; // Adjust the size as needed
    height: auto;

    // Add additional styling if needed
    fill: #fff; // Change the fill color
    stroke: #000; // Change the stroke color
    stroke-width: 2; // Set the stroke width
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .title {
    font-size:xx-large;
    margin-bottom: 10px;
  }
