<!-- landing-page.component.html -->

<!-- <div class="container"> -->

    <div class="row">
        <div class="col">
          <mat-toolbar color="primary" class="custom-toolbar">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span style="font-size:xx-large;">Quickk API</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
        </div>
      </div>
    
      <div class="landing-container section">
        <div class="row">
          <div class="col-7">
            <div class="content">
              <h1>Simple, Transparent, and </h1><br>
              <h1>Affordable Peer to Peer Transactions</h1><br>
              <p>Empowering your financial journey with cutting-edge technology.Empowering your financial journey with cutting-edge technology.Empowering your financial journey with cutting-edge technology.</p><br>
              <a routerLink="/register" mat-raised-button>Get Started</a>
            </div>
          </div>
          <div class="col-5 phone-img">
            <!-- Insert your image here -->
            <img src="../../../assets/phone.png" alt="Description of your image" class="img-fluid">

            <img src="../../../assets/Frame 14398 1.png" alt="Description of your smaller image" class="img-fluid smaller-image">
<!-- 
            <img src="../../../assets/Ellipse 20.svg" alt="Description of your SVG" class="svg-image">
            <img src="../../../assets/Ellipse 21.svg" alt="Description of your SVG" class="svg-image">
            <img src="../../../assets/Ellipse 22.svg" alt="Description of your SVG" class="svg-image"> -->
        
          </div>
        </div>
      </div>

      <div class=" container section2">
        <div class="row">
            <h1>Features </h1><br>
          <div class="col-7">
           
              
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p><br>
            
          </div>
          <div class="col">

        
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="title">Safe and Secure</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="p2">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  
                  <mat-divider></mat-divider>
                </mat-card-content>
             
              </mat-card>
            
          </div>
          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="title">Very Transparent</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="p2">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  
                  <mat-divider></mat-divider>
                </mat-card-content>
             
              </mat-card>
            
          </div>

          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="title">International Transfer</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="p2">accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  
                  <mat-divider></mat-divider>
                </mat-card-content>
             
              </mat-card>
            
          </div>
        </div>
      </div>
      
  

<!-- </div> -->

  